.Header {
    /* justify-content: center; */
    /* padding-right: 250px; */
    /* padding: 10px; */
    /* margin-top: 5px; */
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: relative;
}

.catagories {
    margin: 0px 5%;
    padding: 0px;
    background-color: white;
    display: flex;
    flex-direction: row;
    width: 90%;
    /* justify-content: center; */
    align-items: center;
    overflow: hidden;
}

.catagory {
    padding: 10px 20px;
    /* width: min-content; */
    margin: 0px;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    align-items: center;
    text-align: center;
}

.offers {
    /* margin:10px 100px; */
    margin: 10px 5%;
    background-color: white;
    width: 90%;
    justify-content: center;
    align-items: center;
}

.offer {
    justify-content: center;
    /* margin: 10px; */
    align-items: center;
    padding: 1%;
    /* padding-right: 10%; */
    /* margin-left: 200px; */
    width: 98%;
}

.offer img {
    width: 100%;
    height: 100%;
}

.list-catagories {
    background-color: white;
    margin: 10px 0px;
    padding: 5px;
    width: 90%;
    height: min-content;
    margin-left: 5%;
    overflow: hidden;
}

.lists {
    /* background-color: white; */
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100%;
    height: min-content;
    flex-direction: row;
    /* overflow: hidden; */
}

.list {
    /* overflow: hidden; */
    padding: 5px 20px;
    align-items: center;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.list-content p:first-child {
    font-weight: 400;
    /* title bold */
    margin-bottom: 0px;
    /* padding: 0px; */
    /* text-align: left; */
}

.list-content p:last-child {
    /* color: gray; */
    /* secondary text gray */
    margin-top: 0px;
    /* padding: 0px; */
    /* align-items: flex-start; */
    /* text-align: left; */
    /* font-size: 0.9rem; */
    font-weight: bold;
}

@media only screen and (max-width: 767px) {

    html,
    body {
        overflow-x: hidden;
    }

    .catagories {
        margin: 0px 0px;
        width: 100%;
        overflow: hidden;
    }

    .offers {
        margin: 10px 0px;
        width: 100%;
    }

    .offer {
        width: 100%;
        padding: 5px;
    }

    .offer img {
        width: 100%;
        height: 100%;
    }

    .list-catagories {
        margin-left: 0px;
        width: 100%;
    }

    .lists {
        flex-direction: column;
        padding: 0px;
        margin: 0px;
        /* align-items: flex-start; */
        justify-items: start;
        justify-content: start;
        width: 100%;
    }

    .list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 1rem;
        /* align-items: flex-start; */
        margin: 10px;
        padding: 0px;
        /* text-align: center; */
        width: 100%;
        /* text-align: center; */
    }

    .list img {
        width: 70px;
        height: 60px;
        object-fit: contain;
        /* margin: 0px;
        padding: 0px; */
        margin-left: 10px;
        display: block;
    }

    .list-content {
        display: flex;
        flex-direction: column;
        /* padding: 0px;
        height: fit-content;
        margin: 0px; */
        /* align-items: center; */
        justify-content: center;
        line-height: 1.2;
        /* tighter text spacing */
    }

    .list-content p:first-child {
        font-weight: 500;
        /* title bold */
        margin: 0px;
        padding: 0px;
        text-align: left;
    }

    .list-content p:last-child {
        color: gray;
        /* secondary text gray */
        margin: 0px;
        padding: 0px;
        /* align-items: flex-start; */
        text-align: left;
        font-size: 0.9rem;
    }

    .list::after {
        content: "›";
        font-size: 2rem;
        position: absolute;
        right: 10%;
        color: gray;
    }
}